apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: oscar-pv-claim
  namespace: oscar
spec:
{% if volume_labels %}
  selector:
    matchLabels: {{ volume_labels }}
{% endif %}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi