apiVersion: apps/v1
kind: Deployment
metadata:
  name: oscar-manager
  namespace: oscar
  labels:
    app: oscar-manager
spec:
  selector:
    matchLabels:
      app: oscar-manager
  replicas: 1
  template:
    metadata:
      labels:
        app: oscar-manager
    spec:
      serviceAccountName: oscar-sa
      containers:
      - name: oscar-manager
        image: "grycap/oscar-manager:{{ oscar_version }}"
        env:
        - name: OPENFAAS_ENDPOINT
          value: "{{ openfaas_url }}:{{ openfaas_port }}"          
        - name: MINIO_ENDPOINT
          value: "{{ minio_url }}:{{ minio_port }}"
        - name: MINIO_USER
          value: "{{ minio_user }}" 
        - name: MINIO_PASS
          value: "{{ minio_pass }}"                         
        - name: DOCKER_REGISTRY
          value: "{{ docker_registry }}"
        - name: SUPERVISOR_VERSION
          value: "{{ supervisor_version }}"
        volumeMounts:
        - name: auth
          readOnly: true
          mountPath: "/var/secrets/"
        - name: kaniko-builds
          mountPath: /pv/kaniko-builds
      volumes:
      - name: auth
        secret:
          secretName: basic-auth
      - name: kaniko-builds
        persistentVolumeClaim:
          claimName: oscar-pv-claim
{% if master_deploy %}
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Exists
        effect: NoSchedule
      nodeSelector:
        node-role.kubernetes.io/master: ''
{% endif %}
---
apiVersion: v1
kind: Service
metadata:
  name: oscar-manager
  namespace: oscar
spec:
  type: NodePort
  ports:
    - name: endpoint
      port: 8080
      protocol: TCP
      targetPort: 8080
      nodePort: {{ oscar_nodeport }}
  selector:
    app: oscar-manager
