apiVersion: apps/v1
kind: Deployment
metadata:
  name: oscar
  namespace: oscar
  labels:
    app: oscar
spec:
  selector:
    matchLabels:
      app: oscar
  replicas: 1
  template:
    metadata:
      labels:
        app: oscar
    spec:
      containers:
        - name: oscar
          image: "{{ docker_registry }}/oscar:{{ oscar_version }}"
          env:
          - name: OPENFAAS_ENDPOINT
            value: "{{ openfaas_url }}:{{ openfaas_port }}"
          - name: EVENTGATEWAY_CONFIG_ENDPOINT
            value: "{{ event_gateway_url }}:{{ event_gateway_config_port }}"
          - name: EVENTGATEWAY_EVENTS_ENDPOINT
            value: "{{ event_gateway_url }}:{{ event_gateway_events_port }}"            
          - name: MINIO_ENDPOINT
            value: "{{ minio_url }}:{{ minio_port }}"
          - name: MINIO_USER
            value: "{{ minio_user }}" 
          - name: MINIO_PASS
            value: "{{ minio_pass }}"                         
          - name: DOCKER_HOST
            value: "{{ docker_builder }}"            
---
apiVersion: v1
kind: Service
metadata:
  name: oscar
  namespace: oscar
spec:
  type: NodePort
  ports:
    - name: endpoint
      port: 8080
      protocol: TCP
      targetPort: 8080
      nodePort: {{ oscar_nodeport }}
  selector:
    app: oscar